.hero {
  text-align: center;
  padding: 100px 20px;
  color: white; /* Ensure text stands out */
}

.hero-content {
  background: url('https://res.cloudinary.com/dvggalwfd/image/upload/v1726130524/cool_w8ryr1.png') no-repeat center center; 
  background-size: cover; 
  height: 50vh;
  margin: 0 auto;
  padding: 20px;


}



.hero-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 200px;
  font-family: 'Helvetica Neue', sans-serif; 
}

.hero-title span {
  text-decoration: underline;
  text-decoration-color: rgb(141, 0, 184);
}

.hero-subtitle {
  margin: 20px 0;
  font-size: 18px;
  color: #eee; /* Light gray for better contrast */
  font-family: 'Arial', sans-serif; /* Clean font */
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.btn-primary, .btn-secondary {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px; /* Rounded buttons */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.btn-primary {
  background-color: rgb(141, 0, 184);
  color: white;
}

.btn-secondary {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.btn-primary:hover {
  background-color: rgb(141, 0, 184); /* Hover effect for primary button */
}

.btn-secondary:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Hover effect for secondary button */
}
