.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.nav-items {
  list-style-type: none;
  display: flex;
  
}

.nav-items li {
  margin: 0 10px; 
  font-weight: 500;
}

.nav-items.left {
  margin-right: auto;
}

.nav-items.right {
  margin-left: auto;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 20px; 
}
